.track-container {
  display: flex;
  flex-direction: column;
}
.track-header {
  width: 100%;
  height: 100px;
}
.track-header label {
  display: block;
  border: 1px solid black;
  margin-bottom: 1px;
}
.track-header label > div {
  width: auto;
  display: inline-block;
}
.track-header label.track-name {
  background-color: #88CC88;
}
.plot-container {
  position: relative;
  width: 100%;
  flex: 1;
}
canvas,
svg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: crosshair;
}
.grid .tick line {
  stroke: blue;
  stroke-dasharray: 20, 2;
  stroke-width: 0.5;
}
.depthtrack .tick line {
  stroke: black;
  stroke-width: 1;
}
.wi-tooltip {
  font-size: 10px;
  background-color: yellow;
}
.tooltipBg {
  fill: #ffff00;
}
