.plot-container {
  position: relative;
  width: 250px;
}
canvas,
svg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: crosshair;
}
.grid .tick line {
  stroke: blue;
  stroke-dasharray: 20, 5;
  stroke-width: 0.2;
}
.wi-tooltip {
  font-size: 10px;
  background-color: yellow;
}
.tooltipBg {
  fill: #ffff00;
}
