wi-button,
wi-toolbar-button {
  display: inline-block;
}
wi-button > div,
wi-toolbar-button > div {
  display: block;
}
wi-button > div > button,
wi-toolbar-button > div > button {
  display: inline-block;
  background: none;
  border: 1px solid transparent;
}
wi-button > div > button > img,
wi-toolbar-button > div > button > img {
  margin: auto;
}
wi-button > div > button > p,
wi-toolbar-button > div > button > p {
  font-size: 12px;
}
wi-button > div > button:hover,
wi-toolbar-button > div > button:hover {
  border: 1px solid #b3b6ba;
  border-radius: 2px;
  background: #d6e2fd;
  background: -moz-linear-gradient(top, #d6e2fd 0%, #e9ecf7 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #d6e2fd), color-stop(100%, #e9ecf7));
  background: -webkit-linear-gradient(top, #d6e2fd 0%, #e9ecf7 100%);
  background: -o-linear-gradient(top, #d6e2fd 0%, #e9ecf7 100%);
  background: -ms-linear-gradient(top, #d6e2fd 0%, #e9ecf7 100%);
  background: linear-gradient(to bottom, #d6e2fd 0%, #e9ecf7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6e2fd', endColorstr='#e9ecf7', GradientType=0);
  box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
}
wi-button > div > button:active,
wi-toolbar-button > div > button:active {
  background: #cce2d5;
}
wi-button p,
wi-toolbar-button p {
  margin: 0;
}
.icon-top {
  display: block;
}
.icon-left {
  display: inline-block;
  margin: 0;
}
.button-normal {
  padding: 10px;
}
.button-small {
  padding: 0px;
}
