wi-slidingbar {
  position: relative;
  display: block;
  background-color: #2b542c;
  overflow: hidden;
}
wi-slidingbar .ui-widget-content {
  width: 100%;
  background-color: transparent;
}
wi-slidingbar .sliding-bar-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
wi-slidingbar .sliding-handle {
  border: 0;
}
wi-slidingbar .sliding-handler-border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid white;
}
