wi-treeview {
  display: block;
  background: #fff;
  border-bottom: 1px solid #cacbd3;
  font-size: 13px;
  /*
    .wi-treeview-container:nth-child(2n+2){
        background: #f9f9fc;
    }
*/
}
wi-treeview .wi-treeview-container {
  display: block;
  cursor: pointer;
  padding: 5px 0 5px 10px;
}
wi-treeview .wi-treeview-container wi-treeview {
  border: none;
  border-left: 1px dotted #cacbd3;
}
wi-treeview .wi-treeview-container .wi-parent-node {
  position: relative;
}
wi-treeview .wi-treeview-container .wi-parent-node .wi-parent-description {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 25%;
  overflow: hidden;
  padding-right: 0.5em;
}
wi-treeview .wi-treeview-container .wi-parent-node .icon-expanded {
  min-width: 8px;
}
wi-treeview .wi-treeview-container .item-active {
  color: blue;
}
