wi-workingtabset {
  display: flex;
  flex-direction: column;
  /* khu border */
}
wi-workingtabset .wi-working-tabset-content {
  flex: 1;
  display: flex;
}
wi-workingtabset .wi-working-tabset-content wi-workingtab {
  flex: 1;
  display: flex;
}
wi-workingtabset .wi-working-tabset-content wi-workingtab .wi-workingtab-content {
  flex: 1;
  display: flex;
}
wi-workingtabset .wi-working-tabset-content wi-workingtab .working-tab-content {
  flex: 1;
}
wi-workingtabset .wi-working-tabset-content wi-workingtab .working-logplot-tab-container {
  display: flex;
}
wi-workingtabset .wi-working-tabset-content wi-workingtab .working-logplot-tab-container wi-logplot {
  flex: 1;
}
wi-workingtabset li.wi-tab.active {
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
wi-workingtabset li.wi-tab.active > a,
wi-workingtabset li.wi-tab > a:hover,
wi-workingtabset li.wi-tab > a,
wi-workingtabset li.wi-tab.active > a:hover {
  border: none;
}
wi-workingtabset li.wi-tab {
  cursor: pointer;
  padding: 5px 10px;
}
wi-workingtabset li.wi-tab > a {
  display: inline-block;
  padding: 0;
}
wi-workingtabset li.wi-tab > i {
  font-size: 50%;
  color: #555;
  opacity: 0.5;
}
wi-workingtabset li.wi-tab > i:hover {
  opacity: 1;
}
wi-workingtabset .wi-display-none {
  display: none !important;
}
