.working-block {
  display: flex;
  flex: 1;
  border: 2px solid #2a6496;
  padding: 5px;
}
.working-block wi-workingtabset {
  flex: 1;
  display: flex;
}
.working-block wi-workingtabset wi-workingtab {
  flex: 1;
  display: flex;
}
.working-block wi-workingtabset wi-workingtab .working-tab-content {
  flex: 1;
}
.working-block wi-workingtabset wi-workingtab .working-logplot-tab-container {
  display: flex;
}
.working-block wi-workingtabset wi-workingtab .working-logplot-tab-container wi-logplot {
  flex: 1;
}
.working-block wi-workingtabset .wi-display-none {
  display: none;
}
